1. Write a Python program to sum all the items in a list

In [2]:
sum_all = [1,2,3,4,5,6,7,8,9]
sum(sum_all)

45

In [5]:
def sum_all(items):
    number = 0
    for i in items:
        number+=i
    return number
print(sum_all([1,2,3,4,5,6]))

21

2. Write a Python program to multiply all the items in a list.

In [9]:
def multiply_all(items):
    number = 1
    for i in items:
        number*=i
    return number
print(multiply_all([1,2,4,5]))

40

3. Write a Python program to get the largest number from a list

In [31]:
a = [1,2,3,4,5,6,7,8,9]
a.sort(reverse=True)
a[0]

9

In [23]:
def max_nu(lists):
    max=lists[0]
    for i in lists:
        if i>max:
            max=i
    return max
print(max_nu([1,2,3]))

3

In [38]:
a = [1,2,3,4,5,6,7]
min(a)

1

4. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. 

Sample List : ['abc', 'xyz', 'aba', '1221']

Expected Result : 2

In [50]:
li = ['abc','acd','bcb','1221']
cl = 0
for i in li:
    if len(li)>1 and i[0]==i[-1]:
        cl+=1
print(i,':',cl)

1221 : 2

In [49]:
def number(no):
    clt = 0
    for i in no:
        if len(no)>1 and i[0]==i[-1]:
            clt+=1
    return clt
print(number(['abc','acd','bcb','1221']))

2

5.  Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [55]:
sample =  [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

In [60]:
sorted(sample,key=sample[-1])

TypeError: 'tuple' object is not callable

In [56]:
sample

[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

In [61]:
def last(n):
    return n[-1]
def sorted_last(tuples):
    return sorted(tuples,key=last)
print(sorted_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

6. Write a Python program to remove duplicates from a list.

In [3]:
lis = [1,2,3,4,5,6,2,3,1,41,2,3,5,1,2,]
removed_duplicate = list(set(lis))
removed_duplicate

[1, 2, 3, 4, 5, 6, 41]

In [4]:
def duplicate(lists):
    return list(set(lists))
print(duplicate([1,2,3,4,5,2,1,2,3,'shree','manju','shree','a','a',2.2,2,2,3]))

[1, 2, 3, 4, 5, 2.2, 'a', 'shree', 'manju']

7. Write a Python program to check a list is empty or not

In [5]:
lis = [1,2,3,4,5,6]
for i in lis:
    if i == []:
        print('list is empty')
    else:
        print('list is not empty')

list is not empty
list is not empty
list is not empty
list is not empty
list is not empty
list is not empty

In [12]:
def empty_or_not(lists):
    if lists==[]:
        return 'given list is empty'
    return 'given list is not empty: -->',lists
print(empty_or_not([]))
print(empty_or_not([1,2,3,4,5]))

given list is empty
('given list is not empty: -->', [1, 2, 3, 4, 5])

8. Write a Python program to clone or copy a list.

In [13]:
original_list = [1,2,3,4,5,6]
new_list = list(original_list)

print(original_list)
print(new_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

9. Write a Python program to find the list of words that are longer than n from a given list of words

In [14]:
word = []
n = 3
str =  'Write a Python program to find the list of words that are longer than n from a given list of words'

txt = str.split(' ')
for i in txt:
    if len(i)>n:
        word.append(i)
    print(word)

['Write']
['Write']
['Write', 'Python']
['Write', 'Python', 'program']
['Write', 'Python', 'program']
['Write', 'Python', 'program', 'find']
['Write', 'Python', 'program', 'find']
['Write', 'Python', 'program', 'find', 'list']
['Write', 'Python', 'program', 'find', 'list']
['Write', 'Python', 'program', 'find', 'list', 'words']
['Write', 'Python', 'program', 'find', 'list', 'words', 'that']
['Write', 'Python', 'program', 'find', 'list', 'words', 'that']
['Write', 'Python', 'program', 'find', 'list', 'words', 'that', 'longer']
['Write', 'Python', 'program', 'find', 'list', 'words', 'that', 'longer', 'than']
['Write', 'Python', 'program', 'find', 'list', 'words', 'that', 'longer', 'than']
['Write', 'Python', 'program', 'find', 'list', 'words', 'that', 'longer', 'than', 'from']
['Write', 'Python', 'program', 'find', 'list', 'words', 'that', 'longer', 'than', 'from']
['Write', 'Python', 'program', 'find', 'list', 'words', 'that', 'longer', 'than', 'from', 'given']
['Write', 'Python', 'program', 'find', 'list', 'words', 'that', 'longer', 'than', 'from', 'given', 'list']
['Write', 'Python', 'program', 'find', 'list', 'words', 'that', 'longer', 'than', 'from', 'given', 'list']
['Write', 'Python', 'program', 'find', 'list', 'words', 'that', 'longer', 'than', 'from', 'given', 'list', 'words']

In [20]:
def word_len(n,str):
    word = []
    txt = str.split(' ')
    for i in txt:
        if len(i)>n:
            word.append(i)
    return word

print(word_len(4,'Write a Python program to find the list of words that are longer than n from a given list of words'))

['Write', 'Python', 'program', 'words', 'longer', 'given', 'words']

In [18]:
def word_len(n,str):
    word = []
    txt = str.split(' ')
    for i in txt:
        if len(i)>n:
            word.append(i)
    return word

print(word_len(5,'shrishail Manju ravi subbu kiran rizwan'))

['shrishail', 'rizwan']

10. Write a Python function that takes two lists and returns True if they have at least one common member.

In [32]:
lis1 = ['apple','mango','grapes','banana']
lis2 = ['citrus','banana','apple','papaya']

for i in lis1:
    for j in lis2:
        if i==j:
            print(True)
    else:
        print(False)

True
False
False
False
True
False

In [34]:
def check_value(lis1,lis2):
    result = 'False'
    for i in lis1:
        for j in lis2:
            if i==j:
                return 'True'
                return result
print(check_value(lis1 = ['apple','mango','grapes','banana'],
lis2 = ['citrus','banana','apple','papaya']))

True

11. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

Expected Output : ['Green', 'White', 'Black']

In [60]:
sample_list = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [66]:
for i,j in enumerate(sample_list):
    if i not in (0,4,5):
        print(j)

White
Black
Pink

12. Write a Python program to print the numbers of a specified list after removing even numbers from it

In [86]:
lis = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
odd_number = [i for i in lis if i%2!=0] # after removing even number

In [87]:
odd_number

[1, 3, 5, 7, 9, 11, 13, 15]

13. Write a Python program to shuffle and print a specified list

In [91]:
from random import shuffle
lis =  ['apple','mango','grapes','banana','Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
shuffle(lis)
print(lis)

['White', 'Pink', 'Red', 'banana', 'mango', 'Black', 'Green', 'apple', 'grapes', 'Yellow']

14. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included)

In [109]:
def values():
    l = list()
    for i in range(1,21):
        l.append(i**2)
        print(l[:5])
        print(l[-5:])
print(values())

[1]
[1]
[1, 4]
[1, 4]
[1, 4, 9]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[4, 9, 16, 25, 36]
[1, 4, 9, 16, 25]
[9, 16, 25, 36, 49]
[1, 4, 9, 16, 25]
[16, 25, 36, 49, 64]
[1, 4, 9, 16, 25]
[25, 36, 49, 64, 81]
[1, 4, 9, 16, 25]
[36, 49, 64, 81, 100]
[1, 4, 9, 16, 25]
[49, 64, 81, 100, 121]
[1, 4, 9, 16, 25]
[64, 81, 100, 121, 144]
[1, 4, 9, 16, 25]
[81, 100, 121, 144, 169]
[1, 4, 9, 16, 25]
[100, 121, 144, 169, 196]
[1, 4, 9, 16, 25]
[121, 144, 169, 196, 225]
[1, 4, 9, 16, 25]
[144, 169, 196, 225, 256]
[1, 4, 9, 16, 25]
[169, 196, 225, 256, 289]
[1, 4, 9, 16, 25]
[196, 225, 256, 289, 324]
[1, 4, 9, 16, 25]
[225, 256, 289, 324, 361]
[1, 4, 9, 16, 25]
[256, 289, 324, 361, 400]
None

15. Write a Python program to generate and print a list except for the first 5 elements, where the values are square of numbers between 1 and 30 (both included).

In [111]:
def except_1st_five():
    l = list()
    for i in range(1,21):
        l.append(i**2)
        print(l[5:])
except_1st_five()

[]
[]
[]
[]
[]
[36]
[36, 49]
[36, 49, 64]
[36, 49, 64, 81]
[36, 49, 64, 81, 100]
[36, 49, 64, 81, 100, 121]
[36, 49, 64, 81, 100, 121, 144]
[36, 49, 64, 81, 100, 121, 144, 169]
[36, 49, 64, 81, 100, 121, 144, 169, 196]
[36, 49, 64, 81, 100, 121, 144, 169, 196, 225]
[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]
[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289]
[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324]
[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

16. Write a Python program to convert a list of characters into a string

In [137]:
lis = ['1','2','3','4','5','6','7','8','9','10']
print(type(lis))

# convert list to string 
strr = ' '
for i in lis:
    l+=i
    print(l)

<class 'list'>
,123456789101234567891012345678910123456789101
,1234567891012345678910123456789101234567891012
,12345678910123456789101234567891012345678910123
,123456789101234567891012345678910123456789101234
,1234567891012345678910123456789101234567891012345
,12345678910123456789101234567891012345678910123456
,123456789101234567891012345678910123456789101234567
,1234567891012345678910123456789101234567891012345678
,12345678910123456789101234567891012345678910123456789
,1234567891012345678910123456789101234567891012345678910

17. Write a Python program to find the index of an item in a specified list

In [141]:
num = [1,2,3,4,5,6,7,8,9,10]
num.index(5)

4

18. Write a Python program to append a list to the second list.

In [1]:
new_list = []
old_list = [1,2,3,4,5,6,7,8,9]
for i in old_list:
    new_list.append(i)
    print(new_list)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
old_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
def secon_list(n):
    new_list = []
    for i in n:
        new_list.append(i)
    return new_list
print(secon_list([1,2,3,4,5,6,7,8,9]))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

19. Write a Python program to select an item randomly from a list

In [10]:
import random # Here we have to import the random 
colour_list = ['red','pink','blue','orange','yellow','black','white','green']
print(random.choice(colour_list))

white

20. Write a Python program to find the second smallest number in a list.

In [4]:
number = [1,2,3,4,5,6,7,856,5,66,-4,5,2,-565,-2,52,3,5,3,215,65,632,8,9,10]
# sort the list 
number.sort()
print(number)
#find the second samllest number
print(number[1])

[-565, -4, -2, 1, 2, 2, 3, 3, 3, 4, 5, 5, 5, 5, 6, 7, 8, 9, 10, 52, 65, 66, 215, 632, 856]
-4

21. Write a Python program to find the second largest number in a list.

In [5]:
number = [1,2,3,4,5,6,7,856,5,66,-4,5,2,-565,-2,52,3,5,3,215,65,632,8,9,10]
# sort the list
number.sort()
print(number)
#find the second largest number from given list
print(number[-2])

[-565, -4, -2, 1, 2, 2, 3, 3, 3, 4, 5, 5, 5, 5, 6, 7, 8, 9, 10, 52, 65, 66, 215, 632, 856]
632

22. Write a Python program to get unique values from a list.

In [14]:
values = [1,2,3,5,2,4,5,2,6,41,2,65,54,12,52,1,2,1,12,32,1,]
# find out the unique values from list
import numpy as np
unique_values = set(values)
print(list(unique_values))

[32, 1, 2, 3, 4, 5, 6, 65, 41, 12, 52, 54]

23. Write a Python program to get the frequency of the elements in a list.

In [21]:
values = [1,2,3,5,2,4,5,2,6,41,2,65,54,12,52,1,2,1,12,32,1,]
# Import Collection to get the Frequency
import collections
#get the frequency
collections.Counter(values)

Counter({1: 4,
         2: 5,
         3: 1,
         5: 2,
         4: 1,
         6: 1,
         41: 1,
         65: 1,
         54: 1,
         12: 2,
         52: 1,
         32: 1})

24. Write a Python program to create a list by concatenating a given list which range goes from 1 to n.

Sample list : ['p', 'q']

n =5

Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [48]:
sample = ['p','q']
n=5
['{}{}'.format(x,y) for y in range (1,n+1) for x in sample]

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

25. Write a Python program to get variable unique identification number or string.

In [65]:
x = 100
print(format(id(x),'x'))
y = 'shrishail'
print(format(id(y),'x'))

7fb6c4d24d50
7fb46dadf0f0

26. Write a Python program to find common items from two lists.

In [68]:
color1 = "Red", "Green", "Orange", "White"
color2 = "Black", "Green", "White", "Pink"

comon_vaue = set(color1) & set(color2)
print(comon_vaue)

{'White', 'Green'}

30. Write a Python program to convert a list of multiple integers into a single integer.

Sample list: [11, 33, 50]

Expected Output: 113350

In [73]:
sample = [11,33,50]
sa = [i for i in sample]

In [86]:
int(''.join(map(str,sample)))

113350