## Welcome to Jupyter Q&A Session

## Python Data Type: String - Exercises, Practice, Solution

1. 1. Write a Python program to calculate the length of a string.

In [4]:
def len_of_string(str):
    return len(str)
print(len_of_string(str('shrishail')))
print(len_of_string(str('manjunathathani')))
print(len_of_string(str('saif_kohiri')))

9
15
11

2. Write a Python program to count the number of characters (character frequency) in a string.

Sample String : google.com'

Expected Result : {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [36]:
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

3. Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead of the empty string

In [68]:
def string_both_end(string):
    for i in string:
        if len(string)<2:
            return ''
    return string[:2]+string[-2:]

print(string_both_end('shrishail'))
print(string_both_end('w3resources'))
print(string_both_end('w2'))
print(string_both_end('w'))

shil
w3es
w2w2

In [62]:
a = 'shrishail'
for i in a:
    if len(a)<2:
        print('')
else:
    print(a[:2]+a[-2:])

shil

In [63]:
a = 'sh'
for i in a:
    if len(a)<2:
        print('')
else:
    print(a[:2]+a[-2:])

shsh

4. Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself.

Sample String : 'restart'

Expected Result : 'resta$t'

In [74]:
sample = 'restart'
char = sample[0]
sample = sample.replace(char,'$')
sample = char+sample[1:]

In [75]:
sample

'resta$t'

In [78]:
sample = char+sample[1:]

In [79]:
sample

'resta$t'

In [80]:
sample = 'shrishail'
char = sample[0]
sample = sample.replace(char,'$')
sample = char+sample[1:]

In [81]:
sample

'shri$hail'

5. Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string. 

Sample String : 'abc', 'xyz'

Expected Result : 'xyc abz

In [112]:
sample1 = 'xyz'
sample2 = 'abc'

char1 = sample1[:2]
char2 = sample[:2]

In [128]:
char1 = sample1[:2]+sample2[2:]
char2 = sample2[:2]+sample1[2:]
print(char1+' '+char2)

xyc abz

6. Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged

In [135]:
sample = 'abc'
if len(sample)==3:
    print(sample+'ing')
    if sample == 'ing':
        print(sample.replace('ing','ly')

abcing

In [138]:
sample = 'string'
if 'ing' in sample:
        print(sample+'ly')

stringly

In [139]:
if len(sample)>3:
    print(sample)

string

In [141]:
def checkling(sample):
    if len(sample)==3:
        return sample+'ing'
    elif 'ing' in sample:
        return sample+'ly'
    elif len(sample)>3:
        return sample
print(checkling('abc'))
print(checkling('string'))

abcing
stringly

7. Write a Python function that takes a list of words and return the longest word and the length of the longest one. 

Output:

Longest word: Exercises

Length of the longest word: 9

In [39]:
word_len.append((len(i), i))

In [ ]:
def find_longest_word(words_list):
    word_len = []
    for n in words_list:
        word_len.append((len(n), n))
    word_len.sort()
    return word_len[-1][0], word_len[-1][1]
result = find_longest_word(["PHP", "Exercises", "Backend"])
print("\nLongest word: ",result[1])
print("Length of the longest word: ",result[0])

Longest word:  Exercises
Length of the longest word:  9

In [ ]:
word_len = []
for n in lists:
    lists.append((len(n), n))

In [1]:
lists = ['shrishail','manjunatha','ravi','kiran','subhas']

In [3]:
l = []
for i in lists:
    l.append((len(i),i))

In [9]:
l

[(4, 'ravi'),
 (5, 'kiran'),
 (6, 'subhas'),
 (9, 'shrishail'),
 (10, 'manjunatha')]

In [11]:
l[-1][0]

10

In [13]:
l[-1][1]

'manjunatha'

8.Write a Python program to remove the nth index character from a nonempty string.

In [14]:
lis = ['apple','banana','cherry','papaya','mango']
lis

['apple', 'banana', 'cherry', 'papaya', 'mango']

In [16]:
del lis[::2]

In [38]:
lis = 'manjunatha'
a = lis[::2]

In [42]:
a

'mnuah'

In [19]:
def remove_char(str, n):
    first_part = str[:n] 
    last_part = str[n+1:]
    return first_part + last_part
print(remove_char('Python', 0))
print(remove_char('Python', 3))
print(remove_char('Python', 5))

ython
Pyton
Pytho

9. Write a Python program to remove the characters which have odd index values of a given string.

In [71]:
lis = 'mathematics'
for i in range(len(lis)):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [63]:
lis[::2]

'mteais'

In [70]:
st = ''
for i in range(len(lis)):
    if i%2==0:
        print(st+lis[i])

m
t
e
a
i
s

10. Write a Python program to count the occurrences of each word in a given sentence

In [122]:
a = 'the quick brown fox jumps over the lazy dog.'

In [128]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

10. Write a Python script that takes input from the user and displays that input back in upper and lower cases.

In [138]:
upper =input('enter the python script: ')
lower =input('enter the python script: ')
print(upper.upper())
print(lower.lower())

enter the python script:  shrishail
enter the python script:  DONAJ

SHRISHAIL
donaj

11. Write a Python program that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).

Sample Words : red, white, black, red, green, black

Expected Result : black, green, red, white,red

In [ ]:
words = input('enter comma seperated words: ')

In [2]:
a = 'red white black red green black'

In [6]:
sorted(list(set(a.split())))

['black', 'green', 'red', 'white']

In [7]:
items = input('enter comma seperated words: ')
words = [i for i in items.split(',')]
print(",".join(sorted(set(words))))

enter comma seperated words:  red white black red green black

red white black red green black

In [10]:
items = 'red white black red green black'
words = [i for i in items.split(',')]

12. Write a Python program to print the following floating numbers upto 2 decimal places12.

In [1]:
x = 12.2564866546
y = 15.3658445489

In [5]:
print('original number is: ',x)
print('formated decimal point is: '+'{:.2f}'.format(x))
print('original number is: ',y)
print('formated decimal point is: '+'{:.2f}'.format(y))

original number is:  12.2564866546
formated decimal point is: 12.26
original number is:  15.3658445489
formated decimal point is: 15.37

13. Write a Python program to print the following floating numbers upto 2 decimal places with a sign.

In [10]:
x = 12.2564866546
y = -15.3658445489

print('original number is: ',x)
print('formated decimal point with sign: '+'{:+.2f}'.format(x))
print('original number is: ',y)
print('formated decimal point with sign: '+'{:+.2f}'.format(y))

original number is:  12.2564866546
formated decimal point with sign: +12.26
original number is:  -15.3658445489
formated decimal point with sign: -15.37

14. Write a Python program to print the following floating numbers with no decimal places.

In [12]:
x = 12.2564866546
y = 15.3658445489

In [21]:
print('original number: ',x)
print('no decimal number only whole number: {:.0f}'.format(x))
print('original number: ',y)
print('no decimal number only whole number: {:.0f}'.format(y))

original number:  12.2564866546
no decimal number only whole number: 12
original number:  15.3658445489
no decimal number only whole number: 15

In [28]:
a = 0.25
print('with percentage: {:.0%}'.format(a))

with percentage: 25%