1. Write a Python program to display the current date and time

In [1]:
import datetime as datetime

In [2]:
time = datetime.datetime.now()

In [3]:
time

datetime.datetime(2022, 12, 16, 16, 38, 44, 888342)

2.Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [7]:
first_name = input('type your first name:')
last_name = input('type your last name:')

print(last_name,'', first_name)

type your first name: shrishail
type your last name: donaj

donaj  shrishail

3. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

Sample data : 3, 5, 7, 23

In [50]:
a = eval(input("enter the number: "))
print([i for i in a])
print(a)

enter the number:  2,3,4

[2, 3, 4]
(2, 3, 4)

4. Write a Python program to accept a filename from the user and print the extension of that. Go to the editor

Sample filename : abc.java

Output : java

In [83]:
filename = input('enter file name: ')
filename.split(".") [1]

enter file name:  abc.java

'java'

5. Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]

In [81]:
color_list = ["Red","Green","White" ,"Black",'dbebd','dnsjd']

In [67]:
a = 'output.java'

In [82]:
print(color_list[:1])
print(color_list[-1])

['Red']
dnsjd

6. Write a Python program to calculate number of days between two dates.

Sample dates : (2014, 7, 2), (2014, 7, 11)

Expected output : 9 days

In [98]:
import datetime as datetime

In [106]:
sample_date = datetime.datetime(2014,7,2)
sample_date1 = datetime.datetime(2014,7,11)

print(sample_date1-sample_date)

9 days, 0:00:00

7. Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference

In [108]:
def number(n):
    absolute_diff = n-17
    if n>17:
        print(absolute_diff*2)
    else:
        print(absolute_diff)
print(number(10))
print(number(20))

-7
None
6
None

 8. Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [110]:
def near_thousand(n):

False

In [122]:
def test_thousand(n):
    return ((abs(2000-a)<=100) or (abs(1000-a)<=100))
test_thousand(100)

False

9. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [130]:
def three_number(x,y,z):

False

In [146]:
x,y,z = 3,3,3

In [173]:
def number(a,b,c):
    sum1 = a+b+c
    if a == b == c:
        sum2 = sum1*3
    return sum1
    
print(number(7,7,7))
print(number(1,2,3))

21
6

10. Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged

In [198]:
def new_string(str):
    if str[:2] == 'Is':
        return str
    return 'Is' + str
new_string('Is this shrishail')
new_string(' this my number')

'Is this my number'

11. Write a Python program to get a string which is n (non-negative integer) copies of a given string

In [217]:
def non_neg_int(str,n):
    result = ''
    for i in range(n):
        result = result + str
    return result
print(non_neg_int('abc',2))
print(non_neg_int('xyz',4))

abcabc
xyzxyzxyzxyz

12. Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user

In [222]:
for i in range(1,10):
    if (i%2)==0:
        print('the given number is even: ',i)
    else:
        print('the given number is odd: ',i)

the given number is odd:  1
the given number is even:  2
the given number is odd:  3
the given number is even:  4
the given number is odd:  5
the given number is even:  6
the given number is odd:  7
the given number is even:  8
the given number is odd:  9

In [225]:
for i in range(1,10):
    if (i%2)!=0:
        print('prime number',i)

prime number 1
prime number 3
prime number 5
prime number 7
prime number 9

In [226]:
[i for i in range(1,10) if (i%2)!=0]

[1, 3, 5, 7, 9]

13. Write a Python program to count the number 4 in a given list.

In [1]:
lists = [1,2,5,4,5,4,5,6,7,4,5,6,4,6,4,5]
lists

[1, 2, 5, 4, 5, 4, 5, 6, 7, 4, 5, 6, 4, 6, 4, 5]

In [6]:
lists.count(4)

5

14. Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2.

In [44]:
def num(str,n):
    file = 2
    if file > len(str):
        file = len(str)
        subst = str[:file]
    res = ''
    for i in range(n):
        res = res + substr
    return res
print(num('shrishail',2))
print(num('sh',4))

shsh
shshshsh

15. Write a Python program to test whether a passed letter is a vowel or not

In [47]:
li = ['A','E','I','O','U']

In [54]:
li = input('enter the any alphabet')
for i in li:
    if i == 'A' or i == 'E' or i == 'I' or i == 'O' or i == 'U' or i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        print(i, ' is vowel')
    else:
        print('not vowel')

enter the any alphabet z

not vowel

16. Write a Python program to check whether a specified value is contained in a group of values

In [58]:
def is_number_there(group,n):
    for values in group:
        if n == values:
            return True
    return False
print(is_number_there([1,2,3,4,5],1))
print(is_number_there([1,2,3,4,5],6))

True
False

17. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence

numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527]

In [91]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [92]:
for i in numbers:
    if i == 237:
        print(i)
        break;
    elif i%2 ==0:
        print(i)

386
462
418
344
236
566
978
328
162
758
918
237

18. Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2.


Test Data :

color_list_1 = set(["White", "Black", "Red"])

color_list_2 = set(["Red", "Green"])

In [98]:
color_list_1 = set(["White", "Black", "Red"])

color_list_2 = set(["Red", "Green"])

In [134]:
for i in color_list_1:
    if i not in color_list_2:
        print(i)

Black
White

In [135]:
color_list_1.difference(color_list_2)

{'Black', 'White'}

In [136]:
color_list_2.difference(color_list_1)

{'Green'}

19. Write a Python program to sum of three given integers. However, if two values are equal sum will be zeroWrite a Python program to sum of three given integers. However, if two values are equal sum will be zero

In [151]:
def sum_given_num(a,b,c):
    if a ==b or b==c or c==a:
        sum = 0
    else:
        sum = a+b+c
    return sum
print(sum_given_num(1,2,3))
print(sum_given_num(1,2,1))
print(sum_given_num(1,2,2))

6
0
0

In [147]:
x,y,z = 1,2,1
sum = x+y+z
if x==y or y==z or x==z:
    sum = 0
else:
    print(sum)

20. Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return

In [1]:
## if sum of two number is between 15 and 20 then print it else print their sum 
sum1 = x+y

15
16
17
18
19

In [14]:
def sum(x, y):
    sum = x + y
    if sum in range(15, 20):
        return 20
    else:
        return sum

print(sum(10, 7))
print(sum(10, 2))
print(sum(10, 12))

20
12
22

21. Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5

In [36]:
def fun(x,y):
    sum = x+y
    diff = x-y
    if x==y:
        print(True)
    elif sum == 5:
        print(True)
    elif diff ==5:
        print(True)
    else:
        print('wrong')
    return()
    
    
print(fun(5,5))
print(fun(2,3))
print(fun(7,3))
print(fun(10,23))

True
None
True
None
wrong
None
wrong
None

In [39]:
import numpy as np

In [62]:
def fun1(x,y):
    if x+y == 5 or x-y == 5 or x==y:
        print("True")
    else:
        print("Fa")

In [64]:
fun1(1,4)

True

 22. Write a Python program to add two objects if both objects are an integer type.

In [3]:
def two_obj(x,y):
    if not (isinstance(x,int) and isinstance(y,int)):
        return'value must be integer'
    return x+y
print(two_obj(5,2))
print(two_obj('shree','manju'))

7
value must be integer

In [17]:
x = eval(input('enter any value or any int number: '))
y = eval(input('enter any values or any int number: '))
if not (type(x)==int and type(y)==int):
    print('value must be int')
else:
    print(x+y)

enter any value or any int number:  "shree"
enter any values or any int number:  2

value must be int

In [7]:
x = 10

In [9]:
type(x) == int

True

23. Write a Python program to display your details like name, age, address in three different lines

In [17]:
def details():
    Name, Age = 'Shrishail Donaj', 25
    Adress = 'Jeevan bhima Nagar, Bengaluru, Karnataka'
    print('Name: {} \nAge: {} \nAdress: {}'.format(Name,Age,Adress))
details()

Name: Shrishail Donaj
Age: 25
Adress: Jeevan bhima Nagar, Bengaluru, Karnataka

24. Write a Python program to solve (x + y) * (x + y).


Test Data : x = 4, y = 3

Expected Output : (4 + 3) ^ 2) = 49

In [18]:
x,y= 4,3
(x+y)*(x+y)

49

In [20]:
results = (x+y)**2

In [23]:
results = (x+y)**2
print('({} + {})^2) = {}'.format(x,y,results))

(4 + 3)^2) = 49

3. Write a Python program to remove and print every third number from a list of numbers until the list becomes empty.

In [7]:
lists = [1,2,3,4,5,6,7,8,9,10,11,12,12,14,15,16,17,18,19,20]
lists

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 12, 14, 15, 16, 17, 18, 19, 20]

In [20]:
for i in lists:
    removed = lists[::2]
print(removed)

[1, 3, 5, 7, 9, 11, 12, 15, 17, 19]