# WELCOME TO TUPLES EXERCISE

1. Write a Python program to create a tuple.

In [6]:
a = (1,2,3,4,5,6)
a,type(a)

((1, 2, 3, 4, 5, 6), tuple)

1. Write a Python program to create a tuple with different data types

In [15]:
a = (1,2,2)
b = (2.3,3.4)
c = ('shree',',manju')
d = (False,True)

 3. Write a Python program to create a tuple with numbers and print one item

In [25]:
# create a tuple with numbers

a = (10,20,30,50)
print(a)

# create tuple of one item 

b = (5,)
type(b)

(10, 20, 30, 50)

tuple

3. Write a Python program to unpack a tuple in several variables.

In [30]:
# create a tuple

a = 1,2,3,4

# unpack the tuple with a variable 

a1,a2,a3,a4 = a

print(a1,a2,a3,a4)

1 2 3 4

4. Write a Python program to add an item in a tuple

In [31]:
# Tuples are immutable
a = (1,2,3)
b = (4,5,6)
c = a+b
c

(1, 2, 3, 4, 5, 6)

In [37]:
a = 1,2,3,4,5,6,7,8

a[:4] + (9,10,11)

a[:9] + (12,13,14,15)

(1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 15)

In [40]:
lists = list(a)

In [43]:
lists.append([20,30,40,50])

In [44]:
lists

[1, 2, 3, 4, 5, 6, 7, 8, [20, 30, 40, 50], [20, 30, 40, 50]]

5. Write a Python program to convert a tuple to a string

In [48]:
# Tuple

a = 1,2,3,4,5

type(a)

# convert to string

b = str(a)
type(b)

str

6. Write a Python program to get the 4th element and 4th element from last of a tuple.

In [52]:
# Tuple, get the 4th element from the tuple
tuples = 1,2,3,4,5,6,7,8,9,10

# 4th element and 4th element from the last 
tuples[3],tuples[-4]

(4, 7)

7. Write a Python program to create the colon of a tuple

In [55]:
# create a tuple
a = ('Hello', 5,[],True)
# make a copy by using deepcopy

from copy import deepcopy
a_colon = deepcopy(a)
a_colon[2].append(50)

print(a)
print(a_colon)

('Hello', 5, [], True)
('Hello', 5, [50], True)

In [91]:
## another method for unpacking

fruits = ('banana', 'apple', 'pineapple') # this is called packing

yellow, green_apple, green = fruits 

print(yellow)
print(green_apple)
print(green)

# This is called as unpacking, but here number of variable must be match with number of values

banana
apple
pineapple

In [92]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

# If the number of variables is less than the number of values, you can add an * to the variable name

apple
banana
['cherry', 'strawberry', 'raspberry']

8. Write a Python program to find the repeated items of a tuple.

In [85]:
# Create a tuple 
a = 1,2,3,4,5,6,7,1,2,3,4,1,2

# Find out the repeated value in the tuple 
count = a.count(1)
count

3

9. Write a Python program to check whether an element exists within a tuple

In [95]:
# Create a tuple 

city_name = ('Bengaluru','Mysore','Vijayapura','Belagavi')

# Check whether given element exists in the tuple or not 

'Bengaluru' in city_name, 'Tumkur' in city_name

(True, False)

10. Write a Python program to convert a list to a tuple

In [98]:
# Craete a list and convert list to Tuple
lists = ['Karnataka','Kerala','Tamil Nadu', 'Assam']

tup = tuple(lists)

print(type(lists))
print(type(tuple(lists)))

<class 'list'>
<class 'tuple'>

11. Write a Python program to remove an item from a tuple

In [116]:
language = ('Kannada','Telugu', 'Tamil','Malayalam', 'Hinid')

# Tuples are immutable, you can convert it to list then remove it

lis_lang = list(language)

# Now remove a item from it then convert back it to tuple 

lis_lang.remove('Tamil')

print('Original :',language)
print('remove item :',lis_lang)
print(tuple(lis_lang))

Original : ('Kannada', 'Telugu', 'Tamil', 'Malayalam', 'Hinid')
remove item : ['Kannada', 'Telugu', 'Malayalam', 'Hinid']
('Kannada', 'Telugu', 'Malayalam', 'Hinid')

12. Write a Python program to slice a tuple

In [118]:
# Create a tuple
food = ('paneer','mashroom','chicken','pizza','burger')

# Slice a tuple

print(food[0])
print(food[1:4])
print(food[:4])
print(food[:3])
print(food[-2])

paneer
('mashroom', 'chicken', 'pizza')
('paneer', 'mashroom', 'chicken', 'pizza')
('paneer', 'mashroom', 'chicken')
pizza

13. Write a Python program to find the index of an item of a tuple

In [121]:
# Create a tuple
colour = ('red','blue','green','yellow','hotpink','balck')

# Find out the index of an item

print(colour.index('green'))
print(colour.index('yellow'))

2
3

14. Write a Python program to find the length of a tuple

In [123]:
# find the length of a tuple

len(colour)

print(colour)
print('length is :',len(colour))

('red', 'blue', 'green', 'yellow', 'hotpink', 'balck')
length is : 6

15. Write a Python program to convert a tuple to a dictionary

In [135]:
# Creat a tuple containing key and values with same length 

dic = (('colour','red'), ('food','pizza'), ('name','shree'),('city','bangaluru'))

# Convert tuple to dictionary
print('Original Tuple :',dic)
print('This is dictionary :',dict(dic))

Original Tuple : (('colour', 'red'), ('food', 'pizza'), ('name', 'shree'), ('city', 'bangaluru'))
This is dictionary : {'colour': 'red', 'food': 'pizza', 'name': 'shree', 'city': 'bangaluru'}

16. Write a Python program to unzip a list of tuples into individual lists.

In [141]:
zip_list = (('colour','red'), ('food','pizza'), ('name','shree'),('city','bangaluru'))

print('originaal :',zip_list)
un_zip = list(zip(*zip_list))
print('Unzip list :',un_zip)

originaal : (('colour', 'red'), ('food', 'pizza'), ('name', 'shree'), ('city', 'bangaluru'))
Unzip list : [('colour', 'food', 'name', 'city'), ('red', 'pizza', 'shree', 'bangaluru')]

17. Write a Python program to reverse a tuple.

In [167]:
a = ('My name is shrishail donaj')

a[::-1]

'janod liahsirhs si eman yM'

18. Write a Python program to convert a list of tuples into a dictionary

In [168]:
dic = (('colour','red'), ('food','pizza'), ('name','shree'),('city','bangaluru'))


print('this is list of tuples :',dic)
print('this is converted dictionary :',dict(dic))

this is list of tuples : (('colour', 'red'), ('food', 'pizza'), ('name', 'shree'), ('city', 'bangaluru'))
this is converted dictionary : {'colour': 'red', 'food': 'pizza', 'name': 'shree', 'city': 'bangaluru'}

19. Write a Python program to print a tuple with string formatting. Go to the editor
* Sample tuple : (100, 200, 300)
* Output : This is a tuple (100, 200, 300)

In [179]:
# Create a tuple sample 
sample_tuple = (100, 200, 300)

#String formatting

print('This is a tuple {}'.format(sample_tuple))

This is a tuple (100, 200, 300)

20. Write a Python program to replace last value of tuples in a list. 
* Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
* Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [224]:
# replace the last value in the list
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
sample_list

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [220]:
sample_list

[(10, 20, 40), (40, 50, 60), (100,)]

In [209]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [237]:
for i in l:
    print(i)

(10, 20, 40)
(40, 50, 60)
(70, 80, 90)

In [243]:
i[:-1] + (100,)

(70, 80, 100)

21. Write a Python program to remove an empty tuple(s) from a list of tuples

* Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
* Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [244]:
## Remove an item by value
Sample_data = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]

In [245]:
Sample_data

[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [258]:
Sample_data.remove(())

In [260]:
Sample_data.remove(())

In [261]:
Sample_data

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

22. Write a Python program to sort a tuple by its float element. 
* Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
* Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [277]:
sort_data = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

tuple_data = (tuple(sort_data))

In [280]:
sorted(tuple_data)

[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

In [281]:
sort_data = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

In [296]:
sorted(sort_data,reverse=True)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

23. Write a Python program to count the elements in a list until an element is a tuple

In [297]:
count_tuple = [1,2,3,['shree','manju'],(10,20,30)]
len(count_tuple)

5

In [314]:
count_tuple = [1,2,3,['shree','manju'],(10,20,30)]
crt = 0
for i in count_tuple:
    if isinstance(i,tuple):
        break
    crt+=1
print(crt)

4

24. Write a Python program convert a given string list to a tuple. 
* Original string: python 3.0
<class 'str'>
* Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
<class 'tuple'>

In [347]:
s = ['python 3.0']

In [356]:
for i in s:
    print(tuple(i))

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

25. Write a Python program calculate the product, multiplying all the numbers of a given tuple. 
* Original Tuple:
(4, 3, 2, 2, -1, 18)
* Product - multiplying all the numbers of the said tuple: -864
* Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
* Product - multiplying all the numbers of the said tuple: 27648

In [369]:
def mutiple_tuple(nums):
    temp = list(nums)
    product = 1 
    for x in temp:
        product *= x
    return product

num = (4, 3, 2, 2, -1, 18)
print ("Original Tuple: ")
print(nums)
print("Product - multiplying all the numbers of the said tuple:",mutiple_tuple(nums))

nums = (2, 4, 8, 8, 3, 2, 9)
print ("\nOriginal Tuple: ")
print(nums)
print("Product - multiplying all the numbers of the said tuple:",mutiple_tuple(nums))

Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
Product - multiplying all the numbers of the said tuple: 27648

Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
Product - multiplying all the numbers of the said tuple: 27648